Import the pandas library

In [1]:
import pandas as pd

# Importing and exporting data

Import data from "data/ufos/scrubbed.csv".

In [2]:
df = pd.read_csv("../data/ufos/scrubbed.csv", parse_dates=["datetime"])

Have a first look at the data

In [84]:
df.head(6)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889

Save the data as a csv file under the same name.

In [80]:
df.to_csv("data/ufos/scrubbed.csv", index=False)

Save the data as a tsv file.

In [79]:
df.to_csv("data/ufos/scrubbed.tsv", sep="\t", index=False)

Import the data from the tsv file you just created.

In [89]:
df = pd.read_csv("data/ufos/scrubbed.tsv", sep="\t")

# Understanding the data

List all column names.

In [104]:
df.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude'],
      dtype='object')

Take a look at the first 4 rows of the dataframe.

In [91]:
df.head(4)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833

Take a look at the last 10 rows of the dataframe.

In [92]:
df.tail(10)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
80322,2013-09-09 21:00:00,aleksandrow (poland),NaN,NaN,light,15.0,15 seconds,Two points of light following one another in a...,9/30/2013,50.465843,22.891814
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60.0,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.651389,-82.325000
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,NaN,light,120.0,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180.0,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.300000,-63.216667
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.101389,-84.519444
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778

Have a look at the summary statistics, including only columns of type float.

In [93]:
df.describe(include=[float])

       duration (seconds)      latitude     longitude
count        8.033200e+04  80332.000000  80332.000000
mean         9.016889e+03     38.124416    -86.772885
std          6.202168e+05     10.469585     39.697205
min          1.000000e-03    -82.862752   -176.658056
25%          3.000000e+01     34.134722   -112.073333
50%          1.800000e+02     39.411111    -87.903611
75%          6.000000e+02     42.788333    -78.755000
max          9.783600e+07     72.700000    178.441900

Check of the data types of the other columns using the `.info()`.

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  float64
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  float64
 10  longitude             80332 non-null  float64
dtypes: float64(3), object(8)
memory usage: 6.7+ MB

Check out the dataframe's dimensions.

In [103]:
df.shape

(80332, 11)

Check how many null values there are in each column.

In [105]:
df.isnull().sum()

datetime                   0
city                       0
state                   5797
country                 9670
shape                   1932
duration (seconds)         0
duration (hours/min)       0
comments                  15
date posted                0
latitude                   0
longitude                  0
dtype: int64

Check how many null values there are in total.

In [106]:
df.isnull().sum().sum()

17414